<app-header [signOutBtn]="true" title="Inicio"></app-header>



<ion-content>

  <ion-list *ngIf="!loading">

      <ion-item *ngFor="let u of users">
       <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-label>
          <p>Usuario</p>
          {{u.name}}
          <p>E-mail</p>
          {{u.email}}
      </ion-label>
      </ion-item>



      
      
  
      
   
  </ion-list>
  <ion-list *ngIf="loading">
    <ion-item *ngFor="let p of [1,1,1,1,1,1,1,1,1,1,1,1]">
     
      <ion-label>
        <div>
          <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
    
        </div>
      </ion-label>    
    </ion-item>
  </ion-list>


  <!-- goblal -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  color="danger">
      <ion-icon name="globe-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>





</ion-content>
